name: Deploy EC2 with Ansible

on:
  workflow_dispatch:

jobs:
  provision:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      AWS_DEFAULT_REGION: us-east-1

    steps:

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}  # Optional
        aws-region: us-east-1

    # Decode and install the SSH key
    - name: Set up SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" | base64 -d > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Pre-populate known_hosts
      run: |
        IP=$(aws ec2 describe-instances \
          --filters "Name=tag:Name,Values=disorganizer" \
          --query 'Reservations[].Instances[].PublicIpAddress' \
          --output text)
        ssh-keyscan $IP >> ~/.ssh/known_hosts

    - name: Install figlet on GitHub runner
      run: sudo apt-get update && sudo apt-get install -y figlet

    - name: Install Ansible and AWS collection
      run: |
        python -m pip install --upgrade pip
        pip install ansible boto3 botocore
  
    - name: Install community.docker collection
      run: ansible-galaxy collection install community.docker

    - name: Install amazon.aws collection
      run: ansible-galaxy collection install amazon.aws

    - name: Run Ansible playbook
      run: |
        ansible-playbook pbk_checkmk.yml -i localhost,
